<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">
          <hr>
          <h1>Iniciar Sesion</h1>
          <div class="alert alert-success" role="alert" *ngIf="signup"><strong>Exito!</strong> Ya puede iniciar sesion</div>
          <div class="alert alert-danger" role="alert" *ngIf="error"><strong>Error!</strong> El nombre de usuario/contraseña son incorrectos</div>
          <form [formGroup]="loginForm" id="login-form" >
            <div class="form-group">
              <label for="email">Email o nombre de usuario</label>
              <input type="text" (ngModelChange)="valueChange($event)" formControlName="usrEmail" id="email" class="form-control" placeholder="somebody@example.com">
            </div>
            <div class="form-group">
              <label for="key">Password</label>
              <input type="password" formControlName="password" id="key" class="form-control" placeholder="Password">
            </div>
            <button type="submit" [disabled]="loading" id="btn-login" class="btn btn-custom btn-lg btn-block" (click)="onSubmit()"><i *ngIf="loading" class="fa fa-refresh fa-spin"></i>Log in</button>
          </form>
          <a routerLink="/signup" class="forget" >No tienes cuenta? Registrate</a>
          <hr>
        </div>
    	</div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>