<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Nueva Cochera</h4>
  </div>
  <div class="panel-body">
    <form [formGroup]="cocheraForm" novalidate (ngSubmit)="onSubmit(cocheraForm)">
      <div class="form-group row">
        <div class="form-group col-md-6">
          <div class="row" [ngClass]="{ 'has-error' : !cocheraForm.get('nombre').valid && cocheraForm.get('nombre').touched }">
            <label for="inputNombre" class="col-sm-3 col-form-label">Nombre:</label>
            <div class="col-sm-9">
              <input type="text" formControlName="nombre" class="form-control" id="inputNombre" placeholder="Nombre">
              <span 
              *ngIf="!cocheraForm.get('nombre').valid && cocheraForm.get('nombre').touched"
              class="help-block">Ingrese un nombre valido</span>
            </div>
          </div>
          <div class="row" [ngClass]="{ 'has-error': !cocheraForm.get('direccion').valid && cocheraForm.get('direccion').touched }">
            <label for="inputDireccion" class="col-sm-3 col-form-label">Direccion:</label>
            <div class="col-sm-9">
              <input type="text" formControlName="direccion" class="form-control" id="inputDireccion" placeholder="Direccion">
              <span 
              *ngIf="!cocheraForm.get('direccion').valid && cocheraForm.get('direccion').touched"
              class="help-block">Ingrese una direccion valida</span>
            </div>
          </div>
          <div class="row">
            <label for="inputDireccion" class="col-sm-3 col-form-label">Coordenadas:</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-7">
                  <p>Latitud: {{marker?.lat}} </p>
                  <p>Longitud: {{marker?.lng}} </p>
                </div>
                <div class="col-sm-5 pull-right">
                  <button type="button" class="btn btn-success btn-lg btn-block" (click)="staticModal2.show()">
                    Seleccionar
                  </button>
                </div>
              </div>
              <div class="row" *ngIf="tooltip">
                <div class="col-sm-12">
                  <span 
                    class="help-block">No olvide seleccionar las coordenadas!</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <label for="inputCapacidad" class="col-sm-3 col-form-label">Capacidad:</label>
            <div class="col-sm-9" [ngClass]="{ 'has-error': !cocheraForm.get('capacidad').valid && cocheraForm.get('capacidad').touched }">
              <input type="number" formControlName="capacidad" class="form-control" id="inputCapacidad" placeholder="Capacidad Maxima">
              <span 
                *ngIf="!cocheraForm.get('capacidad').valid && cocheraForm.get('capacidad').touched"
                class="help-block">Ingrese la capacidad de la cochera (numero entero)</span>
            </div>
          </div>
          <div class="row">
            <label for="inputTelefono" class="col-sm-3 col-form-label">Telefono:</label>
            <div class="col-sm-9" [ngClass]="{ 'has-error': !cocheraForm.get('telefono').valid && cocheraForm.get('telefono').touched }">
              <input type="number" formControlName="telefono" class="form-control" id="inputTelefono" placeholder="Telefono">
              <span 
                *ngIf="!cocheraForm.get('telefono').valid && cocheraForm.get('telefono').touched"
                class="help-block">Ingrese el telefono de la cochera (numero entero)</span>
            </div>
          </div>
          <div class="row">
            <label for="inputEmpleado" class="col-sm-3 col-form-label">Empleado Principal:</label>
            <div class="col-sm-9">
              <select id="inputEmpleado" formControlName="empleado" class="form-control">
                <option value="0">Seleccionar</option>
                <option *ngFor="let empleado of empleados" [ngValue]="empleado.id">{{ empleado.nombres }} {{ empleado.apellido_pat }} {{ empleado.apellido_mat }}</option>
              </select>
            </div>
          </div>
          <div class="row" [ngClass]="{ 'has-error': check01() }" formArrayName="servicios">
            <label for="inputPrecio" class="col-sm-3 col-form-label">Precio de Alquiler:</label>
            <div class="col-sm-9" formGroupName="0">
              <input type="number" class="form-control" formControlName="precio" id="inputPrecio" placeholder="Precio">
              <span 
                *ngIf="check02()"
                class="help-block">Ingrese el precio</span>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="row">
            <label for="inputCorreo" class="col-sm-5 col-form-label">Correo de Recuperacion:</label>
            <div class="col-sm-7" [ngClass]="{ 'has-error': !cocheraForm.get('email').valid && cocheraForm.get('email').touched }">
              <input type="text" formControlName="email" class="form-control" id="inputCorreo" placeholder="Correo">
              <span 
                *ngIf="!cocheraForm.get('email').valid && cocheraForm.get('email').touched"
                class="help-block">
                <span *ngIf="cocheraForm.get('email').errors != null ? cocheraForm.get('email').errors['emailIsForbidden'] : false">Este email esta siendo usado</span>
                <span *ngIf="cocheraForm.get('email').errors != null ? cocheraForm.get('email').errors['required'] : false">Este campo es requerido. </span>
                <span *ngIf="cocheraForm.get('email').errors != null ? cocheraForm.get('email').errors['email'] : false">Ponga un e-mail valido</span>
              </span>
            </div>
          </div>
          <div class="row">
            <label for="inputUsername" class="col-sm-5 col-form-label">Nombre de Usuario:</label>
            <div class="col-sm-7" [ngClass]="{ 'has-error': !cocheraForm.get('username').valid && cocheraForm.get('username').touched }">
              <input type="text" formControlName="username" class="form-control" id="inputUsername" placeholder="Nombre de Usuario">
              <span 
                *ngIf="!cocheraForm.get('username').valid && cocheraForm.get('username').touched"
                class="help-block">
                <span *ngIf="cocheraForm.get('username').errors != null ? cocheraForm.get('username').errors['usernameIsForbidden'] : false">This username is already in use!</span>
                <span *ngIf="cocheraForm.get('username').errors != null ? cocheraForm.get('username').errors['required'] : false">Este campo es requerido. </span>
              </span>
            </div>
          </div>
          <div class="row">
            <label for="inputPassword1" class="col-sm-5 col-form-label">Password:</label>
            <div class="col-sm-7">
              <input type="password" formControlName="password1" class="form-control" id="inputPassword1" placeholder="Password">
            </div>
          </div>
          <div class="row">
            <label for="inputPassword2" class="col-sm-5 col-form-label">Repita su Password:</label>
            <div class="col-sm-7" [ngClass]="{ 'has-error': !cocheraForm.get('password2').valid && cocheraForm.get('password2').touched }">
              <input type="password" formControlName="password2" class="form-control" id="inputPassword2" placeholder="Password">
              <span 
                *ngIf="!cocheraForm.get('password2').valid && cocheraForm.get('password2').touched"
                class="help-block">
                <span *ngIf="cocheraForm.get('password2').errors != null ? cocheraForm.get('password2').errors['MatchPassword'] : false">Las contrasenas no coinciden</span>
                <span *ngIf="cocheraForm.get('password2').errors != null ? cocheraForm.get('password2').errors['required'] : false">Este campo es requerido. </span>
              </span>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-5 col-form-label">Servicios:</label>
            <div class="col-sm-7" [ngClass]="{ 'has-error': !cocheraForm.get('servicios').valid && cocheraForm.get('servicios').touched }">
              <button type="button" class="btn btn-primary btn-sm btn-block pull-right" (click)="staticModal.show()">Agregar Servicios</button>
              <span 
                *ngIf="!cocheraForm.get('servicios').valid && cocheraForm.get('servicios').touched"
                class="help-block">Ingrese el precio de los servicios!</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7 pull-right" style="padding-top: 45px;">
              <button type="submit" [disabled]="!cocheraForm.valid" class="btn btn-success btn-lg btn-block pull-right">Crear Cochera</button>
            </div>
            <div class="col-sm-7 pull-right" style="padding-top: 10px;">
              <button type="button" class="btn btn-danger btn-lg btn-block pull-right" [routerLink]="['/cocheras']">Cancelar</button>
            </div>
          </div>
          <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
              tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Agregar Servicios</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-6 form-inline" style="margin-left:10px;" *ngFor="let tipoServicio of tipoServicios; let i = index">
                        <div class="checkbox">
                          <input type="checkbox" [checked]="activatedServ[i]" (change)="onChange(i, tipoServicio)">
                          <label>{{ tipoServicio.nombre }}</label>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row" formArrayName="servicios">
                      <div class="col-sm-6 form-inline" style="margin-left:10px;" *ngFor="let serv of check03() | slice:1; let i = index">
                        <div [formGroupName]="i+1">
                          <div class="col">
                            <label>{{ cocheraForm.controls.servicios.controls[i+1].value.nombre }}</label>
                          </div>
                          <div class="col" [ngClass]="{ 'has-error': !cocheraForm.controls.servicios.controls[i+1].valid && cocheraForm.controls.servicios.controls[i+1].touched }">
                            <label>Precio:</label>
                            <input type="text" class="form-control" formControlName="precio">
                            <span 
                              *ngIf="!cocheraForm.controls.servicios.controls[i+1].valid && cocheraForm.controls.servicios.controls[i+1].touched"
                              class="help-block">Ingrese el precio de los servicios!</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="staticModal.hide()">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" bsModal #staticModal2="bs-modal" [config]="{backdrop: 'static'}" (onShow)="resize($event)"
              tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Agregar Servicios</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal2.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <agm-map #varName [latitude]="lima.lat" [longitude]="lima.lng" [zoom]="12" (mapClick)="handleMapClick($event)">
                      <agm-marker *ngIf="marker" [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
                    </agm-map>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="staticModal2.hide()">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
